.logo {
  width: 60%;
}    
.page{  
  color:" black";
  font-weight: bold;
 
}
.nav-theme {
  background-color: rgba(88, 158, 152, 0.7);
  font-size: 20px; 
  
}

.animate-navbar {
  box-shadow: 1px 1px 1px hsla(250, 60%, 14%, 0.171);
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
